DB_URL="postgresql://username:password@localhost:5432/katana_id"
PORT="8080"
RESEND_API_KEY="re_9oqu4mN1_AaaaaAaAAAAaAaaaAaaaaA"
ALLOWED_ORIGINS="https://katanaid.com,https://www.katanaid.com"
EMAIL_DOMAIN="katanaid.com"
PUBLIC_API_URL="http://localhost:8080"
FRONTEND_URL="http://localhost:5173"
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""